<p>preview-table works!</p>
<form [formGroup]="grepForm">
  <mat-form-field>
    <mat-label>Search pattern</mat-label>
    <input matInput formControlName="pattern" />
  </mat-form-field>
</form>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef>File name</th>
      <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
    </ng-container>

    <ng-container matColumnDef="commit">
      <th mat-header-cell *matHeaderCellDef>Commit</th>
      <td mat-cell *matCellDef="let element">{{ element.commit }}</td>
    </ng-container>

    <ng-container matColumnDef="blame">
      <th mat-header-cell *matHeaderCellDef>Blame</th>
      <td mat-cell *matCellDef="let element">{{ element.blame }}</td>
    </ng-container>

    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.dateTime }}</td>
    </ng-container>

    <ng-container matColumnDef="lineNum">
      <th mat-header-cell *matHeaderCellDef>Line number</th>
      <td mat-cell *matCellDef="let element">{{ element.lineNum }}</td>
    </ng-container>

    <ng-container matColumnDef="content">
      <td mat-cell [attr.colspan]="displayedColumns.length" *matCellDef="let element">{{ element.content }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openPreview(row)" *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-row (click)="openPreview(row)" *matRowDef="let row; columns: ['content']"></tr>
  </table>
</div>
